---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Privacy Statement page | Privacy Statement | RideKola"
  description="Privacy Statement for the use of RideKola website."
>
<section id="heading" class="heading">
    <div class="container">
        <div class="grid">
        <div class="text-box">
            <h1 class="heading-box">
                Privacy Statement
            </h1>
            </div>
            
        </div>
        </div>
    </div>
</section>

# **Privacy Statement of Ride Kola Pty Ltd**

## **Introduction**

During the processing of personal data Ride Kola Pty Ltd (RideKola) works to confirm the requirements of the applicable data protection legislation, like the General Data Protection Regulation. This means we:

* **clearly specify our purposes** before we process personal data, by using this privacy statement;  
* **limit our collection of personal data** to only the personal data needed for legitimate purposes;  
* first **ask for explicit permission** to process your personal data in cases where your permission is required;  
* take **appropriate security measures** to protect your personal data and we demand the same from parties who process personal data on our behalf;  
* **respect** your right to access, correct or delete your personal data held by us.

RideKola is the party responsible for all data processing. In this privacy statement, we will explain what kind of personal data we collect and for which purposes within our RideKola App. We recommend that you read it carefully.

If you have any questions regarding the processing of personal data, you can find the contact details of RideKola at the end of this privacy statement.

## **Registration**

Certain features of our service require you to register beforehand. You will have to provide some information about yourself and choose a username and password for the account that will then be set up for you.

For this purpose, we use your name and address details, phone number, email address, birth date and location data while using the app. We have a legitimate interest in doing this. We store this information for six months after you closed your account. We will retain this data so that you do not have to re-enter it every time you visit our website, and in order to contact you in connection with the execution of the agreement, invoicing and payment, and to provide an overview of the products and services you have purchased from us.

## **Handling your order**

We will use your personal data when handling your order. We may share your data with the a third party where that third party is contractually connected to the delivery of the services. We may also obtain information on your payment from your bank or credit card company.

For this purpose, we use your name and address details, phone number, email address, and birth date. We have a legitimate interest in doing this. We store this information for one year after your order has been completed. Certain types of personal data will be retained for a longer period with regards to the legal tax retention.

## **Sending newsletters**

We have a newsletter to inform those interested on news, tips and information about our products and services. Your e-mail address is added to the list of subscribers, only with your permission.

For this purpose, we use your email address. We do this on the basis of your consent. We store this information until you cancel your subscription or membership, or either is terminated by the Customer or the Supplier..

You may cancel your subscription to our newsletter at any time. Each newsletter contains a link to unsubscribe from our newsletter.

## **Subscription**

Via the RideKola App you can take out a paid subscription. We use your personal data to complete the payment. For this purpose, we use your name and address details, invoice address, email address, payment details and birth date. We do this on the basis of your consent. We store this information until you cancel your subscription. Certain types of personal data will be retained for a longer period with regards to the legal tax retention.

*Providing to Third Parties*  
We collaborate with other organisations that may receive your personal data.

## **Contact form**

You can use our contact form on the RideKola website to ask questions or make any request. For this purpose, we use your name and address details, phone number, email address and birth date. We do this on the basis of your consent. We store this information until we are sure that you are satisfied with our response and six months thereafter. This way we can easily access the information in case you have any following questions and train our customer service to improve even more.

## **Promotion**

Other than the advertisements on the website, we can inform you about new products or services by email. You can object at all times against this promotional communication. Every email contains a cancellation link. You can also inform us through your account, or via the contact form on the website..

## **Location data**

If necessary, we may collect your location data (GPS). If that is the case, you will be asked to grant consent beforehand. This location data and other data can also be stored and processed by the provider of the navigation/mapping software, such as Google Maps, but the data could also be used by, for example, Google or Apple itself. We have no control over their actions. We recommend that you read the applicable privacy statement of the provider in question.

## **App store**

The app providing the service has been downloaded via a third-party app store. We have no influence on which personal data the provider will process or to what purpose it will be processed. We recommend that you read the applicable privacy statement of the provider in question.

## **Providing data to third parties**

Except for the parties necessary to deliver the above-mentioned services, we do not under any circumstance provide your personal data to other companies or organisations, unless we are required to do so by law (for example, when the police demands access to personal data in case of a suspected crime). Our website features social media buttons. These buttons are used by the providers of these services to collect your personal data.

## **Statistics**

We keep statistics on the use of our app, and anonymised data on the use of the vehicles. 

## **Google Analytics**

We use Google Analytics to track visitors on our website and to get reports about how visitors use the website. We accepted the data processing agreement from Google. We don’t allow Google to use information obtained by Analytics for other Google services, and we anonymize the IP-addresses.

## **Security**

We take security measures to reduce misuse of and unauthorized access to personal data. We take responsibility in the security of your personal data. We renew our security measures to ensure safe storage of personal data and keep track of what might go wrong.

## **Data protection officer**

We have appointed a so-called *data protection officer*. This person is responsible for privacy matters within our organisation. Our data protection officer is Chris Arnott and is available by email (chrisarnott@ridekola.com.au) for all your questions and requests.

## **Changes to this privacy statement**

We reserve the right to modify this statement. We recommend that you consult this statement on a regular basis, so that you remain informed of any changes.

## **Inspection and modification of your data**

You can always contact us if you have any questions regarding our privacy policy or wish to review, modify or delete your personal data.

You have the following rights:

* Right of access: you have the right to see what kind of personal data we processed about you;  
* Right of rectification: you have the right to rectify any personal data we have processed about you, if this information is (partially) wrong;  
* Right to complain: you have the right to file a complaint against the processing of your personal data by us, or against direct marketing;  
* Right to be forgotten: you can file a request with us to remove any personal data we have processed of you;  
* Right to data portability: if technically possible, you have the right to ask us to transfer your processed personal data to a third party;  
* Right to restriction of processing: you can file a request with us to (temporarily) restrict the processing of your personal data.

If you exercise any of the rights mentioned above, we might ask to identify yourself with a valid ID, to confirm it is your personal data. If so, it is important that you hide your social security number and photo. We will usually respond to your request within one month. This term can be extended if the request is proven to be complex or tied to a specific right. You will be notified about a possible extension of this term.

## **Complaints**

If you want to file a complaint about our use of personal data, please send an email with the details of your complaint to chrisarnott@ridekola.com.au. We will look into and respond to any complaint we receive. If you think that we are not helping you in the right way, you have the right to file a complaint at the authority. In Victoria, this is the Office of the Victorian Information Commissioner.

## **Contact details**

Ride Kola Pty Ltd. ABN 33-662-909-686  
29/31 Whitehill Ave, Sunshine North VIC 3020

</BaseLayout>
<style>

/* Headings on every page */
#heading {
  background-color: #fff;

    .container {
        width: 90%;
        max-width: 2500px; 
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 2rem 1rem; 
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px; /* Equivalent to gap-4 */
        align-items: end;
    }

    .text-box {
        background-color: var(--primary);
        padding: 40px;
        height: 100%;
        border-radius: 1rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-box h1 {
        font-size: 1.875rem; 
        line-height: 2.25rem;
        letter-spacing: -0.025em;
        font-weight: bold;
        color: white;
        text-align: left;
        text-wrap: balance;
    }

    .image {
        aspect-ratio: 4/1;
        object-fit: cover;
        border-radius: 16px; /* Equivalent to rounded-2xl */
        height: 100%;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .container {
          padding-top: 8rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media screen and (min-width: 1024px) {
        .container {
            padding-top: 8rem; /* Equivalent to lg:pt-32 */
        }

        .grid {
            grid-template-columns: 3fr;
        }

        .text-box {
            padding: 16px; /* Equivalent to lg:p-4 */
        }
    }

    @media screen and (max-width: 767px) {
      padding-top: 6rem;
    }
}


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-714 {
        padding: var(--sectionPadding);
        background-color: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #content-page-714 .cs-container {
        width: 90%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }
    #content-page-714 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #content-page-714 .cs-content img {
        width: 100%;
        height: auto;
        margin: 1rem 0;
        display: block;
    }
    #content-page-714 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        width: 100%;
        max-width: 100%;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #content-page-714 h2,
    #content-page-714 h3,
    #content-page-714 h4,
    #content-page-714 h5,
    #content-page-714 h6 {
        font-weight: 700;
        text-align: inherit;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
    }
    #content-page-714 h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }
    #content-page-714 h3 {
        font-size: 1.5rem;
        color: var(--primary);
    }
    #content-page-714 h4,
    #content-page-714 h5,
    #content-page-714 h6 {
        font-size: 1.25rem;
    }
    #content-page-714 .cs-button-solid {
        margin-bottom: 2rem;
    }
    #content-page-714 .cs-color {
        color: var(--primary);
    }
    #content-page-714 p {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        margin: 0 0 1rem 0;
        color: var(--bodyTextColor);
    }
    #content-page-714 p:last-of-type {
        margin-bottom: 2rem;
    }
    #content-page-714 p a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: var(--primary);
    }
    #content-page-714 ol,
    #content-page-714 ul {
        padding-left: 1.5rem;
        margin: 0 0 2rem 0;
        color: var(--bodyTextColor);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #content-page-714 ul li {
        list-style: none;
        color: inherit;
        position: relative;
    }
    #content-page-714 ul li:before {
        /* custom list bullet */
        content: "";
        width: 3px;
        height: 3px;
        background: currentColor;
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 0.625rem;
        left: -0.75rem;
    }
    
    
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-714 .cs-container {
        flex-direction: row;
        align-items: flex-start;
    }

    #content-page-714 .cs-content {
        margin-left: auto;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #content-page-714 {
        background-color: var(--dark);
    }
    body.dark-mode #content-page-714 .cs-title,
    body.dark-mode #content-page-714 .cs-text,
    body.dark-mode #content-page-714 h2,
    body.dark-mode #content-page-714 h3,
    body.dark-mode #content-page-714 h4,
    body.dark-mode #content-page-714 h5,
    body.dark-mode #content-page-714 h6,
    body.dark-mode #content-page-714 li,
    body.dark-mode #content-page-714 p {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #content-page-714 .cs-color,
    body.dark-mode #content-page-714 a {
        color: var(--primaryLight);
    }
    body.dark-mode #content-page-714 p,
    body.dark-mode #content-page-714 li {
        color: #ebebeb;
    }
}

</style>