---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
---

<BaseLayout
  title="App & Locks page | Apps and Locks to provide easy bike sharing | RideKola"
  description="Easy and stress free bike sharing using the RideKola app and custom locks from RideKola."
>
  <section id="header" class="header">
    <div class="container">
      <div class="grid">
        <div class="text-box">
            <h1 class="heading-box">
                App &<br />
                Locking<br />
                System
                
            </h1>
          </div>
          <img
            class="image"
            src="/assets/images/city-nightscape.jpg"
            alt="RideKola skyline at night"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="body-333">
    <div class="container">

        <h1 class="main-title">
            Easy and stress free bike sharing.
        </h1>

        <div class="flex-container">
                <div class="icon">
                    <img
                        src="/assets/images/kola-logo.jpg"
                        class="image"
                        alt="Kola logo"
                    />
                </div>
                <div class="text-box">
                    <p>We source fully refurbished bikes. Bikes that would otherwise go to landfill. In the Netherlands (where we source our gorgeous Dutch "Omafiets"), two bikes per minute are discarded every day, every year. Through our European and Australian partners, we give these old beauties a new lease of life, ensuring they are safe, reliable and fun to ride.</p>
                </div>
            </div>
    
            <div class="flex-container">
                <div class="icon">
                    <img
                  src="/assets/svgs/email-tick.svg"
                  class="image"
                  alt="Kola email"
                />
                </div>
                <div class="text-box">
                    <p>With our RideKola app locking system we deploy eBike fleets into a range of settings. This Mobility as a Service (MaaS) solution, means the end-user gets all the benefits of ownership without the capital outlay or ongoing maintenance, resulting in more short trips with the ease and convenience of a fully equipped, premium eBike.</p>
                </div>
            </div>
    
            <div class="flex-container">
                <div class="icon">
                    <img
                  src="/assets/svgs/geo-location.svg"
                  class="image"
                  alt="Kola location"
                />
                </div>
                <div class="text-box">
                    <p>We seek out partnerships to expand our sphere of impact. Our ultimate goal is to use RideKola as a force for good. We use the B-Corp Declaration of Interdependence as a basis for our approach and continual improvement. Our Australian partner, Good Cycles, is a social enterprise helping empower young people facing barriers to work.</p>
                </div>
            </div>
        </div>
    </div>
</section>



 
</BaseLayout>

<style>

#header {
        background-color: #fff;

      .container {
          width: 90%;
          max-width: 2500px;
          margin-left: auto;
          margin-right: auto;
          padding: 2rem 2rem 1rem;
      }

      .grid {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
          align-items: end;
      }

      .text-box {
          background-color: #bd5862; 
          padding: 40px; 
          height: 100%;
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

      .text-box h1 {
          font-size: 1.875rem; /* Equivalent to text-3xl */
          line-height: 2.25rem;
          letter-spacing: -0.025em; /* Equivalent to tracking-tighter */
          font-weight: bold;
          color: white;
          text-align: left;
      }

      .image {
          aspect-ratio: 4/1;
          object-fit: cover;
          border-radius: 16px; /* Equivalent to rounded-2xl */
          height: 100%;
          width: 100%;
      }

      @media screen and (min-width: 768px) {
          .container {
            padding-top: 8rem;
              padding-left: 1rem;
              padding-right: 1rem;
          }
      }

      @media screen and (min-width: 1024px) {
          .container {
              padding-top: 8rem; /* Equivalent to lg:pt-32 */
          }

          .grid {
              grid-template-columns: 1fr 2fr;
          }

          .text-box {
              padding: 16px; /* Equivalent to lg:p-4 */
          }
      }

      @media screen and (max-width: 767px) {
        padding-top: 6rem;
      }
  }

#body-333 {
    .container {
            max-width: 2580px;
            margin: 0 auto;
            padding: 1rem 2rem;
            position: relative;
            overflow: hidden;
        }

        .icon {
            padding: 2rem;

            .image {
                width: 4rem;
                height: 4rem;
                filter: grayscale(1);
                transition: filter 0.3s ease; /* Optional: adds a smooth transition effect */
            }
        }

        .icon .image:hover {
            filter: grayscale(0);
        }

        .main-title {
            font-size: 2.25rem;
            line-height: 1.2;
            font-weight: bold;
            color: var(--secondary);
            padding-bottom: 2rem;
        }

        .flex-container {
            display: flex;
            margin: 0;
            padding: 1rem 2rem;
        }

        .circle {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          flex-shrink: 0;
          align-self: center;
          margin-right: 32px;
      }

      .magenta-200 { background-color: #b86589; }
      .magenta-400 { background-color: #a84d74; }
      .magenta-600 { background-color: #8c4061; }

        .text-box {
            border: 1px solid #e2e8f0;
            border-radius: 24px;
            background-color: #f8fafc;
            padding: 8px 20px;
        }

        .text-box p {
            color: var(--secondary);
            font-size: 1.125rem;
            line-height: 1.75;
            margin-bottom: 32px;
        }

        .text-box ul {
            padding-left: 20px;
        }

        .text-box a {
            color: var(--secondary);
            text-decoration: none;
            transition: color 0.3s;
        }

        .text-box a:hover {
            color: #ec4899;
        }

        @media (max-width: 768px) {
            .circle, .icon {
                display: none;
            }
            

            .main-title {
                font-size: 1.875rem;
            }

            .flex-container {
                flex-direction: column;
            }

            .circle {
                margin-bottom: 16px;
            }
        }
    }
</style>

