---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="Home page - RideKola | eBikes for equitable communities | Melbourne, VIC"
  description="The eBike that doesn't cost the earth"
>
  <section id="hero-1969">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">The eBike that doesn't cost the earth</h2>
        <div class="cs-flex">
          <p class="cs-text">
            Our upcycled, fully equipped city eBikes, enhance lives, and deliver cleaner, more equitable communities
          </p>
        </div>
      </div>
    </div>

    <div class="cs-wrapper">
      <picture class="cs-picture">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/hero-m.webp"
        />
        <source media="(min-width: 601px)" srcset="/assets/images/hero.jpg" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/hero.jpg"
          alt="hand painted scene showing RideKola bike parked in streetscape"
          width="1056"
          height="722"
          loading="eager"
        />
      </picture>
    </div>
  </section>

  <CTA />
</BaseLayout>

<style lang="less">
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

#hero-1969 {
    padding: var(--sectionPadding);
    padding-top: clamp(10rem, 20vw, 12.5rem);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
        width: 90%;
        max-width: 2500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
        z-index: 1;
        padding-bottom: 4rem;
    }

    .cs-content {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 1;
    }

    .cs-title {
        font-size: clamp(2rem, 0.077rem + 6.154vw, 2.4rem);
        max-width: 30ch;
    }

    .cs-flex {
        max-width: 960px;
    }

    .cs-text {
        max-width: 100%;
        text-align: left;
    }

    .cs-wrapper {
        width: 100vw;
        margin-left: 50%;
        transform: translateX(-50%);
        // max-width: 100%;
        box-sizing: border-box;
        height: 30vh;
        padding: 0 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
    }


    .cs-picture {
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        display: block;
        position: relative;
        z-index: -2;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transform: translateY(-37.5%);
            // display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1969 {
      .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
        }
        
        .cs-text {
            max-width: 100%;
            text-align: right;
        }

        .cs-wrapper {
            padding: 0 0;
            width: 100vw;
            margin-left: 50%;
            transform: translateX(-50%);
            align-items: flex-end;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1969 {
        .cs-title {
            margin: 0;
        }

        .cs-container {
            max-width: 2500px;
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
        }

        .cs-flex {
            width: 50%;
            max-width: 960px;
        }

        .cs-wrapper {
            padding: 0;
        }
    }
}
</style>
