---
import BaseLayout from "@layouts/BaseLayout.astro";
import PrivacyContent from "../info/privacy.md";
---

<BaseLayout
  title="Privacy Statement page | Privacy Statement | RideKola"
  description="Privacy Statement for the use of RideKola website."
>
  <section id="content-page-714">
    <article class="cs-container">
      <PrivacyContent />
    </article>
  </section>
</BaseLayout>

<style>

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-714 {
        margin-top: 4rem;
        padding: var(--sectionPadding);
        background-color: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #content-page-714 .cs-container {
        width: 90%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* 48px - 64px */
        /* gap: clamp(2rem, 6vw, 3rem); */
        position: relative;
        h1 {
            font-size: 2rem;
        }
        h2,h3 {
            padding: 2rem 0 0.5rem;
        }
        ul {
        padding-left: 1.5rem;
        margin: 0.5rem 0 2rem 0;
        color: var(--bodyTextColor);
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #content-page-714 {
        background-color: var(--dark);
    }
    body.dark-mode #content-page-714 .cs-title,
    body.dark-mode #content-page-714 .cs-text,
    body.dark-mode #content-page-714 h2,
    body.dark-mode #content-page-714 h3,
    body.dark-mode #content-page-714 h4,
    body.dark-mode #content-page-714 h5,
    body.dark-mode #content-page-714 h6,
    body.dark-mode #content-page-714 li,
    body.dark-mode #content-page-714 p {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #content-page-714 .cs-color,
    body.dark-mode #content-page-714 a {
        color: var(--primaryLight);
    }
    body.dark-mode #content-page-714 p,
    body.dark-mode #content-page-714 li {
        color: #ebebeb;
    }
}

</style>